[submodule "tubertc/tubertc"]
	path = tubertc/tubertc
	url = https://github.com/trailofbits/tubertc
[submodule "gotify/gotify"]
	path = gotify/gotify
	url = https://github.com/gotify/server.git
[submodule "ttyd/ttyd"]
	path = ttyd/ttyd
	url = https://github.com/tsl0922/ttyd.git
[submodule "flarum/flarum"]
	path = flarum/flarum
	url = https://github.com/flarum/flarum.git
[submodule "seaweedfs/seaweedfs"]
	path = seaweedfs/seaweedfs
	url = https://github.com/chrislusf/seaweedfs
[submodule "seaweedfs-docker-volume/seaweedfs-docker-volume/docker-plugin_seaweedfs"]
	path = seaweedfs-docker-volume/seaweedfs-docker-volume/docker-plugin_seaweedfs
	url = https://github.com/katharostech/docker-plugin_seaweedfs.git
[submodule "dockerd-exporter/dockerd-exporter"]
	path = dockerd-exporter/dockerd-exporter
	url = https://github.com/stefanprodan/dockerd-exporter.git
[submodule "nefarious/nefarious"]
	path = nefarious/nefarious
	url = https://github.com/lardbit/nefarious.git
[submodule "promgen"]
	path = promgen
	url = https://github.com/line/promgen.git
[submodule "observium/observium"]
	path = observium/observium
	url = https://gitlab.com/trithemius/observium.git
[submodule "maltrail/maltrail"]
	path = maltrail/maltrail
	url = https://github.com/stamparm/maltrail
[submodule "elasticsearch-swarm/docker-swarm-elasticsearch"]
	path = elasticsearch-swarm/docker-swarm-elasticsearch
	url = https://github.com/imyoungyang/docker-swarm-elasticsearch
[submodule "hawk/docker-hawk"]
	path = hawk/docker-hawk
	url = https://github.com/krig/docker-hawk.git
[submodule "flarum/docker-flarum"]
	path = flarum/docker-flarum
	url = https://github.com/crazy-max/docker-flarum
[submodule "bitlbee/docker-bitlbee-libpurple"]
	path = bitlbee/docker-bitlbee-libpurple
	url = https://github.com/ezkrg/docker-bitlbee-libpurple
[submodule "mqttdash/mqtt-admin"]
	path = mqttdash/mqtt-admin
	url = https://github.com/dersimn/mqtt-admin.git
[submodule "halcyon/halcyon"]
	path = halcyon/halcyon
	url = https://notabug.org/halcyon-suite/halcyon.git
[submodule "pinafore/pinafore"]
	path = pinafore/pinafore
	url = https://github.com/nolanlawson/pinafore
[submodule "ivatar/ivatar"]
	path = ivatar/ivatar
	url = https://git.linux-kernel.at/oliver/ivatar.git
[submodule "rtorrentfloodvpn/rtorrent-flood"]
	path = rtorrentfloodvpn/rtorrent-flood
	url = https://github.com/lu6fer/rtorrent-flood.git
[submodule "rtorrentfloodvpn/arch-rtorrentvpn"]
	path = rtorrentfloodvpn/arch-rtorrentvpn
	url = https://github.com/binhex/arch-rtorrentvpn.git
[submodule "smokeping.broken/docker-smokeping"]
	path = smokeping.broken/docker-smokeping
	url = https://github.com/linuxserver/docker-smokeping.git
[submodule "betanin/betanin"]
	path = betanin/betanin
	url = https://github.com/sentriz/betanin.git
[submodule "hivemq"]
	path = hivemq
	url = https://github.com/cirfis/docker-hivemq
